<h2>Exemplos Pipes</h2>

<p>Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Rating: {{ livro.rating | number:'1.1-2' }}</p>
<p>Número de Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preco: {{ livro.preco | currency: 'BRL': true }}</p>
<p>Data de Lancamento: {{ livro.dataLancamento | date }}</p>
<p>Link: <a href="#">{{ livro.url }}</a></p>
<br>
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">
<br>

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<h5>Pipe Puro</h5>

<ul>
  <li *ngFor='let liv of livros | filtroArray:"filtro"'>
    {{ liv }}
  </li>
</ul>

<h5>Pipe impuro</h5>

<ul>
  <li *ngFor='let liv of livros | pipeImpura:"filtro"'>
    {{ liv }}
  </li>
</ul>

<h5>Maneira correta de usar filtro nos projetos</h5>

<ul>
  <li *ngFor='let liv of obterCursos()'>
    {{ liv }}
  </li>
</ul>

<p>{{ valorAsync | async }}</p>
