<form #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div class="form-group" [ngClass]="aplicaCssErro(nome)">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input required
        #nome="ngModel"
        type="text"
        name="nome"
        id="nome"
        class="form-control"
        placeholder="Nome"
        [(ngModel)]="usuario.nome"/>

      <app-campo-control [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatório">
      </app-campo-control>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="email">Email</label>
    </div>

    <div class="col-sm-12">
      <input required email
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="nome@email.com"
      [(ngModel)]="usuario.email" />
    </div>
  </div>

  <div ngModelGroup="endereco">

  <div class="form-group" [ngClass]="aplicaCssErro(cep)">

    <div class="col-md-3">
      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep"
      name="cep" ngModel required #cep="ngModel"
      (blur)="consultaCEP($event.target.value)">
      <app-campo-control [mostrarErro]="verificaValidTouched(cep)" msgErro="Cep é obrigatório">
      </app-campo-control>
    </div>

    <div class="col-md-3">
        <label for="numero" class="control-label">Número</label>
        <input type="text" class="form-control" id="numero"
        name="numero" ngModel required #numero="ngModel">
        <app-campo-control [mostrarErro]="verificaValidTouched(numero)" msgErro="Número é obrigatório">
          </app-campo-control>
      </div>

      <div class="col-md-6">
          <label for="complemento" class="control-label">Complemento</label>
          <input type="text" class="form-control" id="complemento"
          name="complemento" ngModel required #complemento="ngModel">
        </div>
  </div>

  <div class="form-group" [ngClass]="aplicaCssErro(rua)">
      <div class="col-sm-12">
        <label for="rua" class="control-label">Rua</label>
      </div>

      <div class="col-sm-12">
        <input required readonly
          #rua="ngModel"
          type="text"
          name="rua"
          id="rua"
          class="form-control"
          [(ngModel)]="usuario.rua"/>
        <div *ngIf="!rua.valid && rua.touched"
          class="alert alert-danger" role="danger">
          Campo rua é obrigatório!
        </div>
      </div>
    </div>

    <div class="form-group">

        <div class="col-md-5">
            <label for="bairro" class="control-label">Bairro</label>
            <input type="text" class="form-control" id="bairro"
            name="bairro" ngModel required #bairro="ngModel">
        <app-campo-control [mostrarErro]="verificaValidTouched(bairro)" msgErro="Bairro é obrigatório">
        </app-campo-control>
        </div>

          <div class="col-md-4">
              <label for="cidade" class="control-label">Cidade</label>
              <input type="text" class="form-control" id="cidade"
              name="cidade" ngModel required #cidade="ngModel">
              <app-campo-control [mostrarErro]="verificaValidTouched(cidade)" msgErro="Cidade é obrigatório">
              </app-campo-control>
            </div>

            <div class="col-md-3">
                <label for="estado" class="control-label">Estado</label>
                <input type="text" class="form-control" id="estado"
                name="estado" ngModel required #estado="ngModel">
                <app-campo-control [mostrarErro]="verificaValidTouched(estado)" msgErro="Estado é obrigatório">
                </app-campo-control>
              </div>
        </div>

    </div>

  <button type="submit" class="btn btn-primary"
  [disabled]="!f.valid">Enviar</button>

  <app-form-debug [form]="f"></app-form-debug>
</form>
