<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()" >

  <div class="form-group" [ngClass]="aplicaCssErro('nome')">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input required
        type="text"
        formControlName="nome"
        id="nome"
        class="form-control"
        placeholder="Nome"/>

        <!--<app-campo-control-erro 
        [mostrarErro]="!formulario.get('nome').valid &&
        !formulario.get('nome').touched"
        msgErro="Nome é obrigatório.">
        </app-campo-control-erro>-->
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="email">Email</label>
    </div>

    <div class="col-sm-12">
      <input required email
      type="email"
      id="email"
      formControlName="email"
      class="form-control"
      placeholder="nome@email.com"/>
    </div>
  </div>

  

  <button type="submit" class="btn btn-primary">Enviar</button>

  <button class="btn btn-danger" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
